@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/themes";
@import "../../assets/sass/_global/utils";

.menuItem {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
  opacity: 0.75;
  text-align: left;
  &:active, &:hover {
    color: #FFFFFF;
    font-family: Roboto;
    opacity: 0.75;
  }
}

.line {
  display: block;
  height: 30px;
  width: 1px;
  background: #555555;
}

.imageItem {
  width: 100px;
  height: 25px;
}

.bottomMenu {
  position: absolute;
  height: 60px;
  bottom: 0;
  width: calc(100% - 40px);
  border-top: 1px solid #555555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  > a {
    color: #E5E5E5;
    font-size: 14px;
  }
}
.secondaryNavMobile {
  display: flex;
  flex-direction: column;
  padding: $base-unit * 3 $base-unit * 4;
  padding: 0 20px;
  z-index: 1;
  position: fixed;
  height: calc(100% - 60px);
  width: 100%;
  background-color: #2A2A2B;

  .secondaryNavMobileItem {
    position: relative;
    color: #FFF;
    font-size: 21px;
    line-height: 40px;
    height: 40px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.secondaryNavMobileItemOpen {
      @include Roboto-Bold;
      @include not-clickable;
      color: #43D7B0;

      &::after {
        border-color: #43D7B0;
      }    
    }
    &::after {
        content: "";
        border: solid #FFF;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        position: absolute;
        right: 7px;
        transform: rotate(
45deg);
      }
  }
}
