@import "../../assets/sass/_global/variables";
@import "../../assets/sass/_global/utils";

.loginContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: default;

  .notificationButton {
    @include hide-mobile;
  }
}

.signupLabel {
  font-size: 14px;

  @include mobile {
    color: #E5E5E5;
    font-family: Roboto;
    font-size: 14px;
    line-height: 30px;
    text-align: left; 
  }
}

.signup {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 25px;
  line-height: 27px;
  margin-left: 10px;
  margin-right: 80px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;
  background: #fff;
  border-radius: 25px;
  color: #229174;
  padding: 0 15px;

  // @include hide-mobile;
  @include mobile {
    margin-right: 10px;
  }

  @include screen-1440 {
    margin-right: 20px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    color: #229174;
  }
}
